.Box {
  background-color: #e1e9f7;
  margin: 12px;
  width: 150px;
  height: 150px;
  border: 2px solid transparent;
  margin-bottom: -5px;
  transition: 0.1s ease all;
}

.BigBox {
  background-color: #e1e9f7;
  width: 500px;
  height: 300px;
  transition: 0.1s ease all;
}

.ProjectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ThreadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.ProjectContainer .Box:hover {
  border: 2px solid pink;
  overflow: hidden;
}

.NameSelector {
  margin-bottom: -5px;
  font-size: 0.7rem;
}

.TextFeild {
  font-size: 1rem;
}

.MainTitle {
  font-size: 3rem;
}

.DateSelector {
  font-size: 0.7rem;
}

.NoDisplay {
  display: none;
}
